.cartProduct {
	width: 100%;
	height: max-content;
	padding: 1em;
	background-color: var(--bg-color);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 1em;

	.top {
		height: 4em;
		display: flex;
		align-items: center;
		gap: 2em;

		.pic {
			height: 100%;
			aspect-ratio: 1 / 1;
			overflow: hidden;
			border-radius: 10px;
	
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	
		.info {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.2em;
	
			.title {
				font-weight: 600;
			}
	
			.price {
				display: flex;
				align-items: center;
				font-size: 0.9em;
			}
		}
	}

	.bottom {
		width: max-content;
		height: max-content;
		display: flex;
		gap: 1em;

		.quantity {
			width: max-content;
			height: max-content;
			display: flex;
			align-items: center;
			gap: 0.5em;
			border: 3px solid var(--accent-color);
			border-radius: 0.5em;
			overflow: hidden;
	
			button {
				height: 2em;
				width: 2em;
				border-radius: 0 0.3em 0.3em 0;
				border: none;
				outline: none;
				background-color: var(--bg-color);
				color: var(--accent-color);
				cursor: pointer;
				transition: 0.2s ease-out;
				font-size: 1em;
	
				&.add {
					border-radius: 0.3em 0 0 0.3em;
				}
	
				&:hover {
					background-color: var(--accent-color);
					color: var(--bg-color);
				}

				&:disabled {
					color: var(--accent-color-light);
					cursor: not-allowed;

					&:hover {
						background-color: inherit;
					}
				}
			}
	
			input {
				height: 2em;
				width: 4em;
				padding-inline: 1em;
				border: none;
				outline: none;
				background-color: var(--bg-color);
				appearance: textfield;
				text-align: center;
				color: var(--accent-color);
				font-family: 'Montserrat', sans-serif;
				font-weight: 600;
				font-size: 1em;
	
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					display: none;
				}
			}
		}

		.delete {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2em;
			padding: 0.2em;
			cursor: pointer;
		}
	}
}