@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--bg-color: #ffe6f9;
	--bg-color-dark: #fbdef4;
	--bg-color-dark-op: #fbdef4bd;
	--bg-color-op: #ffe6f9bd;
	--bg-color-low-op: #ffe6f9ae;
	--bg-color-op-2: #ffe6f930;
	--text-color: #0c0c0c;
	--accent-color-op: #4f349930;
	--accent-color: #4f3499;
	--accent-color-darkish: #3d2483;
	--accent-color-light: #4f349965;
	--accent-color-dark: #2b1664;
	--secondary-color: #a9f637;

	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.25em;
	
	&-thumb {
		border-radius: 50vh;
		background-color: var(--accent-color-dark);
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-color: var(--bg-color);
	color: var(--accent-color);
}