@keyframes waveAnim {
	from {
		transform: scale(2) translate(-40%, -25%);
	}

	to {
		transform: scale(2) translate(-27.8%, -25%);
	}
}

@keyframes arrowAnim {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(0.5em);
	}

	100% {
		transform: translateY(0);
	}
}

.container1 {
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: column;

	.hero {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;

		h1 {
			font-weight: 900;
			text-transform: uppercase;
			font-size: 7vw;
			letter-spacing: 0.5em;
			color: var(--accent-color);
			z-index: 2;
		}

		span {
			font-weight: 300;
			font-size: 1.5vw;
			letter-spacing: 1.5vw;
			z-index: 2;
			color: var(--accent-color);
		}

		.bigSearchBar {
			width: 40%;
			height: 3em;
			border-radius: 50vh;
			overflow: hidden;
			margin-top: 3em;
			box-shadow: 0 7px 0 0 var(--accent-color);
			position: relative;
			display: flex;
			align-items: center;

			.searchIcon {
				position: absolute;
				color: var(--accent-color);
				right: 1em;

				&:hover {
					color: var(--accent-color-dark);
				}
			}

			input {
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
				padding-inline: 2em;
				font-size: 1em;
				font-family: 'Montserrat', sans-serif;
				color: var(--accent-color);
				background-color: var(--bg-color);
			}
		}

		.waveBg {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;

			.wave {
				width: 100%;
				height: 100%;

				svg {
					width: 100%;
					height: 100%;
					z-index: 1;

					path {
						transform: scale(2) translate(-20%, -20%);
						left: 0;
						animation: waveAnim 2.5s linear infinite forwards;
						z-index: 1;
					}
				}
			}
		}

		.scrollButton {
			font-size: 2em;
			border: none;
			outline: none;
			background-color: transparent;
			color: var(--bg-color);
			position: absolute;
			bottom: 1.5em;
			animation: arrowAnim 1s ease-in-out infinite forwards;
			
			&:hover {
				color: var(--secondary-color);
				cursor: pointer;
			}
		}
	}

	.categories {
		width: 100%;
		height: 100vh;
		background-color: var(--accent-color);
		padding: 2em;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
		grid-auto-rows: 15em;
		gap: 2em;
	}
}