.addProduct {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: relative;

	.topBar {
		width: 100%;
		height: max-content;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 2em;

		button {
			border: none;
			outline: none;
			border-radius: 15px;
			padding: 1em 1.5em;
			font-size: 1em;
			font-weight: 600;
			font-family: 'Montserrat', sans-serif;
			background-color: var(--bg-color);
			color: var(--accent-color);
			border: 3px solid var(--accent-color);
			transition: 0.2s ease-out;

			&:hover:not(:disabled) {
				cursor: pointer;
				background-color: var(--accent-color);
				color: var(--bg-color);
			}

			&:disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}

	form {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		padding: 2em;
		display: flex;
		flex-direction: column;
		gap: 2em;

		.productInfo {
			width: 100%;
			height: max-content;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
			gap: 2em;

			.property {
				width: 100%;
				height: max-content;
				display: flex;
				flex-direction: column;
				gap: 1em;

				label {
					font-weight: 700;
					font-size: 1.2em;
				}

				input {
					border: none;
					outline: none;
					border-radius: 15px;
					font-size: 1em;
					color: var(--accent-color);
					font-weight: 600;
					padding: 1em 1.5em;
					width: 100%;
					background-color: var(--bg-color);
					font-family: 'Montserrat', sans-serif;
				}

				.selectWrapper {
					width: 100%;
					height: 100%;
					border-radius: 15px;
					position: relative;
					display: flex;
					align-items: center;

					select {
						width: 100%;
						height: 100%;
						border-radius: 15px;
						border: none;
						outline: none;
						font-size: 1em;
						padding: 1em 1.5em;
						font-weight: 600;
						font-family: 'Montserrat', sans-serif;
						background-color: var(--bg-color);
						color: var(--accent-color);
						appearance: none;
					}

					.arrow {
						position: absolute;
						right: 1em;
						font-size: 1em;
						transition: 0.2s ease-out;
					}
				}

				textarea {
					border: none;
					outline: none;
					border-radius: 15px;
					font-size: 1em;
					color: var(--accent-color);
					font-family: 'Montserrat', sans-serif;
					font-weight: 600;
					padding: 1.5em;
					background-color: var(--bg-color);
					width: 100%;
					height: 15em !important;
					resize: none;
				}

				&:has(textarea) {
					grid-column: 1 / -1;
				}
			}
		}
	}
}