@keyframes waveAnim {
	from {
		transform: translate(-22%);
	}

	to {
		transform: translate(calc(-22% + 180px));
	}
}

@keyframes waveAnim2 {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(4%);
	}
}

.waveLoader {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 0 0 15px 15px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	z-index: 20;

	.wave {
		width: 100%;
		height: 100%;
		transform: translateY(100%);
		animation: waveAnim2 2s cubic-bezier(0.65,0.05,0.36,1) forwards;

		.realWave {
			width: 150%;
			height: 100%;
			--mask:
				radial-gradient(84.91px at 50% 117.00px,#000 99%,#0000 101%) calc(50% - 90px) 0/180px 100%,
				radial-gradient(84.91px at 50% -72px,#0000 99%,#000 101%) 50% 45px/180px 100% repeat-x;
			-webkit-mask: var(--mask);
			mask: var(--mask);
			background-color: var(--accent-color);
			animation: waveAnim 0.7s linear infinite forwards;
		}
	}
}