<div class="chatContainer">
	<div class="topBar">
		<div class="pic">
			<img src="https://cdn-icons-png.flaticon.com/512/552/552068.png" alt="">
		</div>
		<div class="infoWrapper">
			<div class="title">
				Uruguayan Group Chat
			</div>
			<div class="writingStatus"></div>
		</div>
	</div>
	<div class="messages">
		{{#each messages}}
			<div class="messageWrapper" id="{{this.uid}}">
				<div class="name">{{this.name}}</div>
				<div class="message">{{this.message}}</div>
			</div>
		{{/each}}
	</div>
	<form class="sendMessage" autocomplete="off">
		<input class="inputMessage" type="text" name="message"
		placeholder="Message" required>
		<button type="submit">
			<i class="ti ti-send"></i>
		</button>
	</form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>