.header {
	width: 100%;
	height: 5em;
	padding: 1em;
	position: sticky;
	top: 0;
	z-index: 50;

	.innerHeader {
		width: 100%;
		height: 100%;
		display: flex;
		padding-inline: 1em;
		align-items: center;
		background-color: var(--bg-color-op);
		backdrop-filter: blur(10px);
		border-radius: 50vh;

		.icon {
			height: 80%;
			width: auto;
	
			.melodreamIcon {
				width: 100%;
				height: 100%;
	
				path {
					transition: 0.2s ease-out;
				}
			}
			
			&:hover {
				cursor: pointer;
	
				.melodreamIcon {
					path {
						fill: var(--accent-color-dark);
					}
				}
			}
		}
		
		nav {
			margin-left: auto;
			display: flex;
			gap: 1em;
	
			ul {
				display: flex;
				list-style: none;
				gap: 1em;
	
				a {
					text-decoration: none;
					transition: 0.2s ease-out;
					outline: none;
					color: var(--accent-color);
	
					&:hover {
						color: var(--accent-color-dark);
					}
				}
			}
		}
	}
}